body {  
    color:burlywood; 
    background-color:darkmagenta;
    font-size:1em; 
    font-family:Cambria,Georgia,"Book Antiqua",serif
    
}
h3, h1 {  
    color:coral;  
    background-color: lightpink; 
    width: fit-content; 
    font-weight:bolder;
}
ul.chess {
    color: burlywood;
    font-size:1.1em;
    border-style: solid;
    border-radius: 0.3em;
}
ul.physics {
    font-size:0.9em;
    color:aqua;
}
h3.reg {
    background-color: steelblue;
}
img#chair {
    float: left;
    padding: 2em;
    width: 40%;
}
img#chessBoard {
    width: 65%;
}
ol li{
    margin-bottom: 1.25em;
}
ul li {
    margin-bottom: 0.2em;
}
p {  
    color:burlywood; 
    font-style:italic;  
}
p strong {
    background-color: pink;  
    color:darkslateblue;
}
a:link {  
    color:darkgreen;  
}
a:visited {  
    color:lightgreen;  
}
a:hover {  
    color:greenyellow;  
}
a:active {  
    color:seagreen;  
}
div.startTemp {
    font-size: 1.2em;
}
div.flexible{
    display: flex;
    flex-direction: column;
}
a#item, a#item2 {
    padding: 3em;
}
img#jcena {
    display:none;
}
img#big {
    display: none;
}
button#jc {
    margin-bottom: 1em;
}

@media (max-width: 750 px) {
    body {
        margin-left: 9%;
        margin-right: 9%;
        font-size: 0.9em;
    }
}

@media screen and (orientation: portrait) {
    body {
        font-size: 0.9em;
    }
    body li {
        font-size: 0.7em;
    }
    h3 {
        float: left;
    }
}
